.header {
  height: 50px;

  ::v-deep(.title) {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-primary);
  }
}

.container {
  flex: 1;
  display: flex;

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 360px;
    padding: 88px 0;
    border-right: var(--border-width-base) solid var(--border-color-light);

    .room-btns {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }
  }
}
