.header {
  height: 50px;
  flex: 0 0 50px;

  ::v-deep(.right) {
    padding-right: var(--spacing-tiny);
  }

  ::v-deep(.title) {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-primary);
  }
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;

  .user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 28px;

    .settings {
      -webkit-app-region: no-drag;
      cursor: pointer;

      .iconfont {
        font-size: var(--font-size-extra-large);
      }
    }
  }

  .meeting-btns {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
}
