.meeting-page {
  --player-index: 2;
  --drawing-index: 3;
  --status-bar-index: 4;
  --drawing-tools-index: 5;
  --drawing-mask-index: 6;

  &.share-mode {
    ::v-deep(.status-bar) {
      animation: upY 0.3s 2s forwards;
    }

    ::v-deep(.footer) {
      animation: downY 0.3s 2s forwards;
    }

    &:hover {
      ::v-deep(.status-bar) {
        animation: none;
      }

      ::v-deep(.footer) {
        animation: none;
      }
    }
  }

  .container {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .st-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: row;
      overflow: hidden;
      z-index: var(--player-index);
    }
  }
}

@keyframes upY {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, -100%);
  }
}

@keyframes downY {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 100%);
  }
}
