.header {
  background-color: var(--background-color-base);
}

.screen-share-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .screen-list {
    display: flex;
    flex-flow: row wrap;
    padding: 18px 15px 0;

    &.screen-list-scrollbar {
      height: 270px;
    }

    .screen-item {
      width: 25%;
      flex: 0 0 25%;
      display: flex;
      justify-content: center;
      margin-bottom: 18px;
    }
  }
}
