.invite-dialog {
  display: flex;
  flex-direction: column;
  height: 500px;
  border-radius: var(--border-radius-large) !important;
  overflow: hidden;

  .el-dialog__header {
    display: none;
  }

  .el-dialog__body {
    flex: 1;
    display: flex;
    padding: 0 !important;
    flex-direction: column;
    overflow: hidden;

    .header {
      background-color: var(--background-color-base);
    }

    .invite-body {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        transition: all 0.2s ease-in-out 0s;
      }

      &::-webkit-scrollbar-track {
        border-radius: 10px;
      }
    }
  }
}
