.container {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .st-container {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
}
