.box-item {
  width: 44px;
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  .box-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &.disabled {
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        transform-origin: center;
        transform: rotate(45deg);
      }

      &::before {
        left: calc(50% - 2px);
        width: 3px;
        background-color: var(--background-color-base);
      }

      &::after {
        left: calc(50% - 1px);
        width: 1px;
        background-color: var(--color-danger);
      }
    }

    .iconfont {
      font-size: 24px;
    }
  }

  .title {
    width: 100%;
    font-size: var(--font-size-extra-small);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
}
