.header {
  position: relative;
  height: 30px;
  flex: 0 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-app-region: drag;

  &.border-bottom {
    border-bottom: var(--border-width-base) solid var(--border-color-light);
  }

  .title {
    font-size: 13px;
    user-select: none;
  }

  .right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
