.join-btn {
  cursor: pointer;

  .btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 68px;
    background: linear-gradient(
        to left top,
        transparent 0% 50%,
        #1255fe 50%,
        #1796fd 100%
      ),
      linear-gradient(
        to right bottom,
        transparent 0% 50%,
        #1252ff 50%,
        #1899fd 100%
      );
    border-radius: var(--border-radius-base);

    .iconfont {
      color: var(--color-white);
      font-size: 28px;
      font-weight: var(--font-weight-primary);
    }
  }

  .title {
    text-align: center;
    margin-top: 16px;
  }

  &:hover {
    opacity: 0.9;
  }
}
