.user-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 28px;
  padding-bottom: 52px;
  overflow: hidden;

  .user-list {
    min-height: calc(100vh - 108px);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    .user-item {
      width: 20%;
      max-width: 192px;
      height: 176px;
      flex: 0 0 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .user-avatar {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        overflow: hidden;

        .user-avatar-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          -webkit-user-drag: none;
          user-select: none;
        }
      }

      .title {
        margin-top: 8px;
      }
    }
  }
}
