.invite-dialog {
  display: flex;
  flex-direction: column;
  height: 500px;
  border-radius: var(--border-radius-large) !important;
  overflow: hidden;

  .el-dialog__header {
    display: none;
  }

  .invite-header {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 28px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    z-index: 99;
    -webkit-app-region: no-drag;

    .close-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 12px;
      height: 12px;
      background-color: #fd5f57;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        .iconfont {
          display: block;
        }
      }

      .iconfont {
        display: none;
        width: 6px;
        height: 6px;
        font-size: 6px;
        font-weight: bold;
      }
    }
  }

  .el-dialog__body {
    flex: 1;
    display: flex;
    padding: 0 !important;
    flex-direction: column;
    overflow: hidden;

    .header {
      background-color: var(--background-color-base);
    }

    .invite-body {
      position: relative;
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 28px 42px;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(
          -45deg,
          var(--color-primary-light),
          transparent,
          transparent
        );
        opacity: 0.3;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 20px;
        bottom: 40px;
        left: 0;
        background: url("../../../../assets/images/sugarTalkLogo.png") bottom
          right no-repeat;
        background-size: 128px;
        opacity: 0.3;
      }

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        transition: all 0.2s ease-in-out 0s;
      }

      &::-webkit-scrollbar-track {
        border-radius: 10px;
      }

      .title {
        margin-bottom: var(--spacing-medium);
        font-size: var(--font-size-base);
        color: var(--color-text-primary);
      }

      .invite-item {
        display: flex;
        margin-bottom: var(--spacing-small);
      }
    }

    .invite-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: var(--border-width-base);
        background-image: linear-gradient(
          to right,
          var(--border-color-base),
          transparent
        );
      }

      .btn {
        width: 160px;
      }
    }
  }
}
