.member-user-item {
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-small);

  &:hover {
    background-color: var(--color-primary-lighter);
  }

  .user-info {
    flex: 1;
    padding-left: var(--spacing-smaller);
  }

  .mic-mute-status {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &.disabled::after {
      content: "";
      position: absolute;
      top: 1px;
      left: calc(50% - 1px);
      width: 2px;
      bottom: 0;
      background-color: var(--color-danger);
      transform-origin: center;
      transform: rotate(45deg);
    }
  }
}
